<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>ProfileEdit</ion-title>
    <ion-buttons end>
			<button ion-button (click)="closeModal()">Close</button>
		</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="background" padding>
	

	<!-- <ion-grid>
  		<ion-row>
    		<ion-col>
        		<ion-label item-left>Marriage</ion-label>
	  			<ion-checkbox item-right color="secondary" checked="true"></ion-checkbox>
    		</ion-col>
    		
    		<ion-col>
          		<ion-label item-left>Re-marriage</ion-label>
	  			<ion-checkbox item-right color="secondary" checked="true"></ion-checkbox>
    		</ion-col>
  		</ion-row>
	</ion-grid>
-->

<!--  	<ion-list radio-group>
  		<ion-list-header>
   			 Desire
  		</ion-list-header>

  		<ion-item>
    		<ion-label>Marriage</ion-label>
    		<ion-radio checked="true" value="marriage"></ion-radio>
  		</ion-item>

  		<ion-item>
    		<ion-label>Re-marriage</ion-label>
    		<ion-radio value="re-marriage"></ion-radio>
  		</ion-item>

   </ion-list> -->





   <ion-card>
    <ion-card-header>
      DESTINATION
    </ion-card-header>

    <ion-card-content>
    <!--   <ion-row radio-group [(ngModel)]="profile.target">

       <ion-col>
        <ion-item [style.background-color]="selectedBackground? '#32db64' : null ">
         <ion-label>Marriage</ion-label>
         <ion-radio value="marriage" (ionSelect)="togleBackgroundFrom1()"></ion-radio>
       </ion-item>

     </ion-col>

     <ion-col>
      <ion-item [style.background-color]="selectedBackground? null: '#32db64' ">
       <ion-label>Re-marriage</ion-label>
       <ion-radio value="re-marriage" (ionSelect)="togleBackgroundFrom2()"></ion-radio>
     </ion-item>

   </ion-col>


 </ion-row> -->

<ion-row>
<ion-col col-6>
  <button class="container" ion-button outline color="light" style="width:100%;  border-radius: 10px" float-center (click)="selectTarget(1)">
    <ion-img class="full_img" [src]="profile.target == 'marriage'? './assets/imgs/target.png': './assets/imgs/target_gray.png'"></ion-img>
    <div class="centered">Marriage</div>
  </button>

</ion-col>

<ion-col col-6>
  <button class="container" ion-button outline color="light" style="width:100%; border-radius: 10px" float-center (click)="selectTarget(0)">
    <ion-img  class="full_img" [src]="!(profile.target == 'marriage')? './assets/imgs/target.png':'./assets/imgs/target_gray.png'"></ion-img>
    <div class="centered">Re-marriage</div>
  </button>



</ion-col>

</ion-row>


</ion-card-content>

</ion-card>





<ion-card>
  <ion-card-header>
    PERSONAL
  </ion-card-header>
  <ion-card-content>

  	<ion-row>
  		<ion-col>
  			<ion-item>
          <!-- <ion-label fixed>Username</ion-label> -->
          <ion-input [(ngModel)]="profile.username" type="text" value={{profile.username}} placeholder = "User Name"></ion-input>
        </ion-item>

      </ion-col>
      <ion-col>
       <ion-item>
        <!-- <ion-label fixed>First Name</ion-label> -->
        <ion-input [(ngModel)]="profile.firstName" value={profile.firstName} placeholder = "First Name"></ion-input>
      </ion-item>


    </ion-col>
    <ion-col>
     <ion-item>
      <!-- <ion-label fixed>Last Name</ion-label> -->
      <ion-input [(ngModel)]="profile.lastName" type="text" value={profile.lastName} placeholder = "Last Name"></ion-input>
    </ion-item>


  </ion-col>

</ion-row>

<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Birthday</ion-label>
      <ion-datetime displayFormat="MMMM YYYY" min="1950" max="2018" [(ngModel)]="profile.age"></ion-datetime>
    </ion-item>
  </ion-col>
</ion-row>

<!-- <ion-item>
  <ion-label>Gender</ion-label>
  <ion-select [(ngModel)]="profile.gender">
    <ion-option value="female">Female</ion-option>
    <ion-option value="male">Male</ion-option>
  </ion-select>
</ion-item> -->

<!-- Gioi tinh -->


<ion-row radio-group> 
  <ion-col col-6>
    <ion-item style="background: rgba(255, 255, 255, 0);">
     <ion-label>Gender</ion-label>
   </ion-item>
 </ion-col>
 <ion-col col-3>
  <button ion-button outline color="light" style="width:70%" float-right (click)="selectGender(1)">
    <img [src]="selectedMale? './assets/imgs/male_color.png': './assets/imgs/male_gray.png'">
  </button>

</ion-col>

<ion-col col-3>
  <button ion-button outline color="light" style="width:70%" float-right (click)="selectGender(0)">
    <img [src]="selectedFemale? './assets/imgs/female_color.png':'./assets/imgs/female_gray.png'">
  </button>



</ion-col>


</ion-row>


<ion-row>

  <ion-col>
    <ion-item>
      <ion-label>Select your City</ion-label>

      <ion-select [(ngModel)]="city" placeholder="city" (ionChange)="setDistrictValues(city)" interface="popover">
        <ion-option [value]="sCity" *ngFor = "let sCity of citys">{{sCity.name}}</ion-option>
    <!-- <ion-option value="seoul">Seoul</ion-option>
    <ion-option value="busan">Busan</ion-option>
    <ion-option value="incheon">Incheon</ion-option>
    <ion-option value="daegu">Daegu</ion-option>
    <ion-option value="daejeon">Daejeon</ion-option>
    <ion-option value="gwangju">Gwangjiu</ion-option>
    <ion-option value="ulsan">Ulsan</ion-option>
    <ion-option value="suwon">Suwon</ion-option>
    <ion-option value="goyangsi">GoyangSi</ion-option>
    <ion-option value="seongnamsi">SeongnamSi</ion-option> -->


  </ion-select>
</ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <!--   <ion-label stacked>Select your District</ion-label> -->
    <ion-select [(ngModel)]="district" placeholder="district" interface="popover">
      <ion-option [value]="sDistrict" *ngFor = "let sDistrict of selectedDistricts">{{sDistrict.name}}</ion-option>

    </ion-select>
  </ion-item>
</ion-col>

</ion-row>

</ion-card-content>

</ion-card>

<ion-card>
  <ion-card-header>
    EDUCATION
  </ion-card-header>
  <ion-card-content>

    <ion-list radio-group [(ngModel)]="profile.education">

      <ion-item>
        <ion-label>HighSchool</ion-label>
        <ion-radio checked="true" value="highschool"></ion-radio>
      </ion-item>

       <ion-item>
        <ion-label>University</ion-label>
        <ion-radio value="university"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Master</ion-label>
        <ion-radio value="master"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>PhD</ion-label>
        <ion-radio value="phd"></ion-radio>
      </ion-item>
    </ion-list>

  </ion-card-content>

</ion-card>



<!-- JOB -->

<ion-card>
  <ion-card-header>
    JOB
  </ion-card-header>
  <ion-card-content>

    <ion-list radio-group [(ngModel)]="job">

      <ion-item>
        <ion-label>Artist</ion-label>
        <ion-radio value="Artist"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Engineering</ion-label>
        <ion-radio value="engineering"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Bussiness</ion-label>
        <ion-radio value="bussiness"></ion-radio>
      </ion-item>
    </ion-list>

  </ion-card-content>

</ion-card>


<!-- CHARACTERISTIC -->

<ion-card>
  <ion-card-header>
    CHARACTERISTICS
  </ion-card-header>
  <ion-card-content>


    <ion-list>
      <ion-item>
        <ion-label>Select multiple</ion-label>
        <ion-select  multiple="true" cancelText="NO" okText="OK!">
          <ion-option value="Clumsy">Clumsy</ion-option>
          <ion-option value="Diligent">Diligent</ion-option>
          <ion-option value="Lazy">Lazy</ion-option>
          <ion-option value="Strong">Strong</ion-option>
          <ion-option value="Active">Active</ion-option>
          <ion-option value="Polite">Polite</ion-option>
          <ion-option value="Careful">Careful</ion-option>
          <ion-option value="Generous">Generous</ion-option>
          <ion-option value="Brave">Brave</ion-option>
          <ion-option value="Kind">Kind</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    

  </ion-card-content>

</ion-card>

<!-- about Family -->

<ion-card>
  <ion-card-header>
    FAMILY
  </ion-card-header>

  <ion-card-content>
    <ion-row radio-group [(ngModel)]="parents">

     <ion-col>
      <ion-item style="border-radius: 10px">
       <ion-label>Both Alive</ion-label>
       <ion-radio checked="true" value="bothalive"></ion-radio>
     </ion-item>

   </ion-col>

   <ion-col>
    <ion-item style="border-radius: 10px">
     <ion-label>Father Only</ion-label>
     <ion-radio value="fatheronly"></ion-radio>
   </ion-item>

 </ion-col>

 <ion-col>
  <ion-item style="border-radius: 10px">
   <ion-label>Mother Only</ion-label>
   <ion-radio value="motheronly"></ion-radio>
 </ion-item>

</ion-col>


</ion-row>
</ion-card-content>

</ion-card>



<button ion-button color="secondary" round full (click)="updateProfile()">Update Profile</button>

</ion-content>
