<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color='primary'>


		<button ion-button menuToggle icon-only>
			<ion-icon name='menu'></ion-icon>
		</button>

		<ion-title>Home</ion-title>

		<ion-buttons end>
			<button ion-button round style="width: 100px; background-color:rgb(206, 74, 162)" block menuToggle>{{ 'home.ViewAll' | translate }}
			</button>

		</ion-buttons>
	</ion-navbar>

</ion-header>

<!-- <ion-toolbar>


</ion-toolbar> -->



<ion-content>

	<!-- Filtering here -->

	<ion-grid style="position: fixed; z-index: 9999; background:  rgba(51, 255, 112, 1); padding-top: 0px">
		<ion-row>

			<!-- Filter based on target property -->
			<ion-col>
				<ion-item>
					<ion-label>{{ 'home.Target' | translate }}:</ion-label>
					<ion-select [(ngModel)]="f_target" name="f_target" (ionChange)="applyFilters1(f_target, f_city, my_Profile2)" interface="popover">
						<ion-option value="all" selected="true">All</ion-option>
						<ion-option value="marriage">Marriage</ion-option>
						<ion-option value="re-marriage">Re-marriage</ion-option>
						<ion-option value="secret">Secret</ion-option>


					</ion-select>
				</ion-item>
			</ion-col>
			<!-- filtering based on Region -->
			<ion-col>
				<ion-item>
					<ion-label>{{ 'home.Region' | translate }}:</ion-label>
					<ion-select [(ngModel)]="f_city" name="f_city" interface="popover" (ionChange)="applyFilters1(f_target, f_city, my_Profile2)"
					 interface="popover">
						<ion-option value="all" selected="true">All</ion-option>
						<ion-option [value]="sSearch_city.name" *ngFor="let sSearch_city of search_citys">{{sSearch_city.name}}</ion-option>


					</ion-select>
				</ion-item>
			</ion-col>

			<!-- Fitering based on education property -->

			<ion-col>
				<ion-item>
					<ion-label>{{ 'home.Distance' | translate }}:</ion-label>
					<ion-select [(ngModel)]="ref_Dist" name="f_education" interface="popover" (ionChange)="applyFilters2(ref_Dist, my_Profile2)"
					 interface="popover">
						<ion-option value=0 selected="true">All</ion-option>
						<ion-option value=1>1 KM</ion-option>
						<ion-option value=2>2 KM</ion-option>
						<ion-option value=50>50 KM</ion-option>
						<ion-option value=100>100 KM</ion-option>
						<ion-option value=200>200 KM</ion-option>
						<ion-option value=300>300 KM</ion-option>
						<ion-option value=500>500 KM</ion-option>
						<ion-option value=1000>1000 KM</ion-option>

					</ion-select>
				</ion-item>
			</ion-col>

			<!-- Additional search -->
			<ion-col>

				<button ion-button block round style="background-color:rgb(206, 74, 162);" (click)="openAdditionalSearch()">{{ 'home.AdditionalSearch' | translate }}
				</button>


			</ion-col>
		</ion-row>

	</ion-grid>



	<ion-list no-lines>

		<ion-row style="height: 60px"></ion-row>

		<ion-item-sliding *ngFor="let key of filteredusers; let i = index">
			<ion-item>

				<ion-card>

					<ion-row>
						<ion-col col-6>

							<ion-item class="card-avatar">
								<ion-avatar item-left (click)="gotobuddiProfile(key.uid)">
									<img [src]=" key.profile.photoURL ">
									<ion-badge color="danger">{{key.profile.noPhoto}}</ion-badge>
								</ion-avatar>
								<h2>{{ 'home.Nick' | translate }}: {{key.displayName}}</h2>
								<h2>{{ 'home.Name' | translate }}:
									<ion-icon name="md-help-circle"></ion-icon>
									<ion-icon name="md-help-circle"></ion-icon> {{key.profile.lastName}}</h2>
								<p>{{ 'home.Birthday' | translate }}: {{key.profile.age}}</p>
							</ion-item>
						</ion-col>
						<ion-col>
							<ion-item>


								<ion-icon name="pin"></ion-icon>
								<h2>{{key.profile.city.name}}</h2>

								<h2> {{disTance[i].value/1000}} km</h2>
							</ion-item>


						</ion-col>

						<ion-col>
							<ion-item>
								<ion-icon name="heart" color="danger"></ion-icon>
								<h2>{{key.profile.target}}</h2>
							</ion-item>

						</ion-col>



					</ion-row>

					<!-- <img src="assets/imgs/home2.jpg"> -->

					<ion-row>
						<img [src]="'./assets/imgs/covers/'+ key.profile.city.name + '.png'">
					</ion-row>

					<ion-row>
						<ion-item text-wrap>
							<ion-badge color="danger">{{ 'home.Introduction' | translate }}</ion-badge>
							<h2>{{key.profile.introduction1}}</h2>

						</ion-item>

					</ion-row>




					<!-- <ion-card-content>
						<p>This is the lastest status. Make friends</p>
					</ion-card-content> -->


					<ion-row>

						<ion-col>
							<button ion-button icon-left clear small>
								<ion-icon name="thumbs-up"></ion-icon>
								<div>{{key.profile.beliked}} {{ 'home.Like' | translate }}</div>
							</button>
						</ion-col>
						<ion-col>
							<button ion-button icon-left clear small>
								<ion-icon name="eye"></ion-icon>
								<div>{{key.profile.beviewed}} {{ 'home.View' | translate }}</div>
							</button>
						</ion-col>
						<ion-col center text-center>
							<ion-note>
								2 days ago
							</ion-note>
						</ion-col>
					</ion-row>



				</ion-card>
			</ion-item>

			<ion-item-options slide="left">
				<button ion-button color="primary" (click)="sendreq(key)">
					<ion-icon name="person-add"></ion-icon>
					Add
				</button>

				<button ion-button color="danger" (click)="Skip(key)">
					<ion-icon name="trash"></ion-icon>
					Skip
				</button>
			</ion-item-options>


			<!-- <ion-item-options slide="right">
				<button ion-button color="primary" (click)="Skip(key)">
					<ion-icon name="trash"></ion-icon>
					Skip
				</button>
			</ion-item-options> -->

			<!-- This ion-item-option for add friend for message -->


		</ion-item-sliding>






		<!-- <ion-card *ngFor= "let item of profileitems | async"> -->
		<!-- <h2>Last Name: {{item.target}}</h2>
			<h2>Last Name: {{item.username}}</h2>
			<h2>First Name: {{item.firstName}}</h2>
			<h2>Last Name: {{item.lastName}}</h2>
			<h2>Last Name: {{item.gender}}</h2>
			<h2>Last Name: {{item.age}}</h2>
			<h2>Last Name: {{item.education}}</h2>
			<h2>Last Name: {{item.city}}</h2> -->

		<!-- 	<ion-row>
				<ion-col>

					<ion-item>
						<ion-avatar item-start>
							<img src="assets/imgs/avatar-luke.png">
						</ion-avatar>
						<h2>nick: {{item.username}}</h2>
						<h2>full name: {{item.firstName}} {{item.lastName}}</h2>
						<p>birthday: {{item.age}}</p>
					</ion-item>
				</ion-col>
				<ion-col>
					<ion-item>
						

						<ion-icon name="pin"></ion-icon>
						<h2>{{item.city}}</h2> 
					</ion-item>
					

				</ion-col>

				<ion-col>
					<ion-item>
						<ion-icon name="heart" color="danger"></ion-icon>
						<h2>{{item.target}}</h2>
					</ion-item>

				</ion-col>



			</ion-row>

			<img src="assets/imgs/home2.jpg">

			<ion-card-content>
				<p>This is the lastest status. Make friends</p>
			</ion-card-content>


			<ion-row>

				<ion-col>
					<button ion-button icon-left clear small>
						<ion-icon name="thumbs-up"></ion-icon>
						<div>0 Likes</div>
					</button>
				</ion-col>
				<ion-col>
					<button ion-button icon-left clear small>
						<ion-icon name="text"></ion-icon>
						<div>0 Comments</div>
					</button>
				</ion-col>
				<ion-col center text-center>
					<ion-note>
						2 days ago
					</ion-note>
				</ion-col>
			</ion-row>

		</ion-card> -->



	</ion-list>

	<!-- Add fab button for instant function -->
	<ion-fab left bottom>
		<button ion-fab color="pink">
			<ion-icon name="arrow-dropup"></ion-icon>
		</button>
		<ion-fab-list side="top">

			<ion-row style="width: 500px; height: 60px ;">
				<ion-col col-2>
					<button small ion-fab (click)="openSocial()">
						<ion-icon name="cart"></ion-icon>
					</button>
				</ion-col>

				<ion-col col-10>
					<div style="background-color: rgba(255, 255, 255, 0); color:rgb(206, 74, 162)">
						<h3>{{ 'home.Purchase' | translate }}</h3>
					</div>
				</ion-col>

			</ion-row>

			<ion-row style="width: 500px; height: 60px ;">
				<ion-col col-2>
					<button small ion-fab (click)="openSocial()">
						<ion-icon name="brush"></ion-icon>
					</button>
				</ion-col>

				<ion-col col-10>
					<div style="background-color: rgba(255, 255, 255, 0); color:rgb(206, 74, 162)">
						<h3>{{ 'home.WriteandUp' | translate }}</h3>
					</div>
				</ion-col>

			</ion-row>


			<ion-row style="width: 500px; height: 60px ;">
				<ion-col col-2>
					<button small ion-fab (click)="openSocial()">
						<ion-icon name="contact"></ion-icon>
					</button>
				</ion-col>

				<ion-col col-10>
					<div style="background-color: rgba(255, 255, 255, 0); color:rgb(206, 74, 162)">
						<h3>{{ 'home.MyProfile' | translate }}</h3>
					</div>
				</ion-col>

			</ion-row>


			<ion-row style="width: 500px; height: 60px ;">
				<ion-col col-2>
					<button small ion-fab (click)="openSocial()">
						<ion-icon name="headset"></ion-icon>
					</button>
				</ion-col>

				<ion-col col-10>
					<div style="background-color: rgba(255, 255, 255, 0); color:rgb(206, 74, 162)">
						<h3>{{ 'home.Inquiry' | translate }}</h3>
					</div>
				</ion-col>

			</ion-row>

			<ion-row style="width: 500px; height: 60px ;">
				<ion-col col-2>
					<button small ion-fab (click)="openSocial()">
						<ion-icon name="information-circle"></ion-icon>
					</button>
				</ion-col>

				<ion-col col-10>
					<div style="background-color: rgba(255, 255, 255, 0); color:rgb(206, 74, 162)">
						<h3>{{ 'home.ContactUs' | translate }}</h3>
					</div>
				</ion-col>

			</ion-row>

			<ion-row style="width: 500px; height: 60px ;">
				<ion-col col-2>
					<button small ion-fab (click)="openSocial()">
						<ion-icon name="notifications"></ion-icon>
					</button>
				</ion-col>

				<ion-col col-10>
					<div style="background-color: rgba(255, 255, 255, 0); color:rgb(206, 74, 162)">
						<h3>{{ 'home.NotificationSetting' | translate }}</h3>
					</div>
				</ion-col>

			</ion-row>

		</ion-fab-list>
	</ion-fab>



</ion-content>