page-additional-search {

    .custom_select{
    
border-radius: 50%;

background: #d1760d;

    }

    canvas {
        display: block;
        margin: 10px auto;
        border: 10px solid rgb(34, 15, 204);
      }


}
